{
  presets: ["latest", "react"],
  plugins: [
    "syntax-flow",
    "tcomb",
    "transform-flow-strip-types",

    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
  ]
}
