{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "env": {
    "node": false,
    "browser": true,
    "es6": true,
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [1, "always-multiline"],
    "react/jsx-uses-vars": 1
  }
}
