
.SplashApp {
  all: initial;

  z-index: 9999;
  position: fixed;
}

.SplashApp.SplashAppPlaying {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: rgba(255,255,255,.9);
}

.SplashAppPlaying .word {
  font-size: 32pt;
  font-family: Georgia;
  color: black;
}

.rsvpWrapper {
  position: absolute;
  width: 100%;

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  color: #666;
  background-color: white;
  box-shadow: 0 0 50px 50px white;

  /* ensure shadow not visible w/in box */
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}
.rsvpWrapperInner {
  padding: 20px;
  word-wrap: break-word;
}
.rsvpBeforeMiddle {
  /* for single-letter word*/
  white-space: pre;
}
.rsvpMiddle {
  /*the dark red is nice... but people kept asking why it was there*/
  /*color: #BF360C;*/
  color: #555;
}
.rsvpAfterMiddle {
}
.rsvpNotchTop,
.rsvpNotchBottom {
  position: absolute;
  height: 15px;
  border-right: 1px solid #ccc;
}
.rsvpNotchBottom {
  bottom: 0px;
}
