

.floatingHoverButtonsContainer {
  display: block;
  position: fixed;
  bottom: 23px;
  right: 23px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SplashButton {

  /* Stolen from http://material-ui.com/#/components/buttons */
  height: 56px;
  width: 56px;

  padding: 10px;

  color: white;
  font-size: 25px;

  background: #00bcd4; /* TODO: use css variables */
  border: none;
  border-radius: 50%;

  box-shadow: 0 3px 6px rgba(0,0,0,.3);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.SplashButton:hover {

  border-bottom-width: 2px;
}

.SplashButton:active,
.SplashButton:visited,
.SplashButton:focus {

  outline: none;
  underline: none;
  color: white;
}

.SplashButton:active,
.SplashButton.active {

  border-bottom: none;
  border-top-color: rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3) inset;
}

.playButton {
  padding-left: 4px;
}
.playButton::after {
  content: '▶';
}
.pauseButton {
  padding-left: 7px;
  font-size: 19px;
}
.pauseButton::after {
  content: '▌▌';
}
.SplashButton img {
  display: inline-block;
}

/* TODO: cleanup/abstract */
.smallerHoverButton {

  border: none;
  border-radius: 50%;
  background: #00bcd4;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
  margin-bottom : 20px;
  display: block;
  height: 40px;
  width: 40px;
  user-select: none;
  cursor: pointer;
}
.smallerHoverButton:active,
.smallerHoverButton:visited,
.smallerHoverButton:focus {
  outline: none;
  underline: none;
  color: white;
}
.smallerHoverButton:active,
.smallerHoverButton.active {
  border-bottom: none;
  border-top-color: rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3) inset;
}
.upArrow::after {
  content: '▲';
}
.downArrow::after {
  content: '▼';
}
input.wpmInput {
  all: unset;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  width: 4em;
  margin-bottom: 10px;
  margin-top: -10px;
  margin-right: -12px;
}
input.wpmInput:hover,
input.wpmInput:active,
input.wpmInput:focus,
input.wpmInput.active {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px white;
}