
/* TODO: webpack/postcss autoprefixer */
.SplashButton {

  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 10px;

  color: black;
  font-size: 13px;
  background: gold;

  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.2);
  border-top-color: rgba(0,0,0,.1);
  border-bottom-color: rgba(0,0,0,.3);

  box-shadow: 0 1px 3px rgba(0,0,0,.1);

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.SplashButton:hover {
  border-bottom-width: 2px;

}

.SplashButton:active,
.SplashButton:visited,
.SplashButton:focus {
  outline: none;
  underline: none;
  color: black;
}

.SplashButton:active {
  border-bottom: none;
  border-top-color: rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3) inset;
}

.SplashButton img {
  display: inline-block;
}