

.floating-hover-buttons-container {
  display: block;
  position: fixed;
  bottom: 23px;
  right: 23px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SplashButton {
  /* Stolen from http://material-ui.com/#/components/buttons */
  height: 56px;
  width: 56px;

  padding: 10px;

  color: white;
  font-size: 25px;

  background: #00bcd4; /* TODO: use css variables */

  border-radius: 50%;

  box-shadow: 0 3px 6px rgba(0,0,0,.3);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.SplashButton:hover {
  border-bottom-width: 2px;

}

.SplashButton:active,
.SplashButton:visited,
.SplashButton:focus {
  outline: none;
  underline: none;
  color: white;
}

.SplashButton:active,
.SplashButton.active {
  border-bottom: none;
  border-top-color: rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3) inset;
}

.play-button {
  padding-left: 4px;
}
.pause-button {
  padding-left: 7px;
  font-size: 19px;
}
.SplashButton img {
  display: inline-block;
}

/* TODO: cleanup/abstract */
.smaller-hover-button {
  border-radius: 50%;
  background: #00bcd4;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
  margin-bottom : 20px;
  display: block;
  height: 40px;
  width: 40px;
  user-select: none;
  cursor: pointer;
}
.smaller-hover-button:active,
.smaller-hover-button:visited,
.smaller-hover-button:focus {
  outline: none;
  underline: none;
  color: white;
}
.smaller-hover-button:active,
.smaller-hover-button.active {
  border-bottom: none;
  border-top-color: rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3) inset;
}
